<phpunit
    bootstrap="./Bootstrap.php"
    colors="true">
    <testsuites>
        <testsuite name="CI 2.0 FDS Tests">
            <directory suffix="Test.php">./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../application/controllers</directory>
            <directory suffix=".php">../application/models</directory>
            <directory suffix=".php">../application/libraries</directory>
            <directory suffix=".php">../application/helpers</directory>
            <directory suffix=".php">../application/hooks</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>